streamlit
faiss-cpu  # Use faiss-gpu if you have a compatible GPU setup
requests
langchain
sentence-transformers
huggingface-hub
langchain-community
python-dotenv
langchain_community
langchain
pydantic==1.10.7
langchain-groq==0.0.1
